name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    name: pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
      - run: uv run pytest --tb=short -v
      - run: uv run ruff check --output-format=github .
      - run: uv run ruff format --diff
